@import "../../../../../../styles/elements.scss";

:host {
  font-family: $fontOpenSans;
  height: 92vh;
  display: flex;
  flex-direction: row;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .side-menu {
    width: 50px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;

    display: flex;
    justify-content: center;
    padding: 20px 0;

    .wrap-icons {
      .navigate-icon {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        padding: 5px;
        position: relative;
        cursor: pointer;

        &:hover,
        &.selected {
          background-color: $colorDarkBlue;
          border-radius: 50%;

          &.payment-history {
            background-color: $colorGreen;
          }
        }
      }
      .disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  .wrap-component {
    width: calc(100% - 50px);

    .side-popup {
      top: 8vh;
      height: 92vh;
      overflow: auto;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

}
