<div class="side-menu" *ngIf="menu">
  <div class="wrap-icons">
    <ng-container *ngFor="let item of menu.menuItems; index as i">
      <div
      *ngIf="!item.disabled"
        class="navigate-icon"
        [ngClass]="{
          'navigate-icon': true,
          selected: selected === i,
          'payment-history': item.route === ROUTE_PATH.TicketsNew.PaymentHistory
        }"
        [matTooltip]="item.displayName"
        [matTooltipClass]="['custom-tooltip', 'side-menu-tooltip']"

        (click)="selected = i"
        (mouseenter)="hovered = i"
        (mouseleave)="hovered = null"
      >
        <!-- <app-svg-icon
          *ngIf="item.icon"
          [src]="item.icon"
          [selected]="selected === i || hovered === i"
          [strokeColor]="item.color"
        ></app-svg-icon> -->
      </div>
    </ng-container>
  </div>
</div>
