@import "../../../../../styles/buttons.scss";
@import "../../../../../styles/elements.scss";

.form-card {
  background: white;
  margin: 15px 0;
  overflow: hidden;
  direction: rtl;
  width: 1170px;
  //   border: 1px solid #b9c6d4;
  //   border-radius: 8px;

  /* Frame 34180 */

  box-sizing: border-box;

  /* white */
  background: #ffffff;
  /* light grey */
  border: 1px solid #e3e7eb;
  /* drop */
  box-shadow: 0px 0px 12px -1px #d2dbe8;
  border-radius: 8px;

  .form-card-content {
    padding: 30px;
  }
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

  .form-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}



form {
  display: flex;
  flex-direction: row;
  direction: rtl;
  justify-content: space-between;

}

.form-field {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;

}

.Medium-size {
  width: 280px !important;
  height: 40px !important;
  input,
  select,
  .input-fill,
  mat-select {
    width: inherit !important;
  }

  ::ng-deep .input-fill {
    height: 40px !important;
    width: 280px !important;
  }
}



::ng-deep app-input-checkbox-option-group {
  .checkbox-group {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
  }

  .checkbox {
    width: 80px !important;
    min-width: 80px !important;
    max-width: 80px !important;
  }
}