<!-- app-modal.component.html -->

<ng-template #content let-modal>
  <div class="app-modal modal-header">
    <h4 class="app-modal modal-title" id="modal-basic-title">{{ title }}</h4>
    <img
      *ngIf="!hideExitIcon"
      class="exit-icon"
      [src]="Icons.EXIT"
      (click)="modal.dismiss('Cross click')"
    />
  </div>
  <div class="app-modal modal-message-container">
    <p class="app-modal modal-message" *ngIf="message">{{ message }}</p> 
  </div>
  <div class="app-modal modal-body">
    <ng-content class="content-scroll"></ng-content>
  </div>
  <div
    class="app-modal modal-footer"
    [ngClass]="{ 'no-amount-data': !amountData }"
  >
     
    <div *ngIf="amountData" class="amount-data-label">
      <div class="data-item">
        <span class="data-label">סה"כ לתשלום: </span>
        <span class="data-value sum-payment-balance">{{
          amountData?.sumPaymentBalance || 0
        }}</span>
      </div>
      <div class="data-item">
        <span class="data-label">סה"כ פריטים שנבחרו: </span>
        <span class="data-value num-of-items">{{
          amountData?.numOfItems || 0
        }}</span>
      </div>
    </div>
    <div class="button-container">
      <app-button
        *ngFor="let button of buttons"
        [buttonText]="button.label"
        (clickFunction)="buttonClicked(button)"
        [buttonClass]="button.buttonClass || 'general-btn-fill'"
      >
      </app-button>
    </div>
  </div>
</ng-template>
