<div class="card">
  <div class="infrastructure-container p-4">
    <!-- Form -->
    <form [formGroup]="dynamicForm()">
      <div class="form-container">
        <!-- Loop through rows -->
        @for (row of rows(); track $index) {
          <div class="form-row">
            @for (field of row.row; track field.name) {
              <div
                [class]="'form-field' + field.size"
                [ngClass]="{
                  disabled: field.disabled,
                  inputError: 
                    ( 
                      dynamicForm().get(field.name)?.invalid &&
                      dynamicForm().get(field.name)?.touched &&
                      !!dynamicForm().get(field.name)?.errors
                    ) ||
                    (isSubmitted() && dynamicForm().get(field.name)?.errors?.['required'])
                }"
              >
                <!-- Field Content -->
                @if (!field.hide) {
                  <!-- Field Types -->
                  @switch (field.type) {
                    @case ('text') {
                      <app-input-text
                        [title]="field.label"
                        [placeholder]="field.placeholder || field.label"
                        [formControlName]="field.name"
                        [isRequired]="field.isRequired ?? false"
                        [isValid]="!dynamicForm().get(field.name)?.errors"
                        [errorMessage]="getErrorMessage(field.name)"
                      ></app-input-text>
                    }
                    @case ('text-area') {
                      <label class="title-placeholder" [for]="field.name">
                        <img
                          *ngIf="field.isRequired"
                          class="required-icon"
                          [src]="Icons.ASTERISK_RED"
                        />
                        {{ field.label }}
                      </label>
                      <app-textarea-comments
                        [title]="field.label"
                        [placeholder]="field.placeholder || field.label"
                        [formControlName]="field.name"
                        [maxlength]="field.validations?.maxLength || 1000"
                        [rows]="5"
                      ></app-textarea-comments>
                    }
                    @case ('number') {
                      <!-- Field Label for number input -->
                      <label class="title-placeholder" [for]="field.name">
                        @if (field.isRequired) {
                          <img
                            class="required-icon"
                            [src]="Icons.ASTERISK_RED"
                          />
                        }
                        {{ field.label }}
                      </label>
                      <input
                        [id]="field.name"
                        type="number"
                        [formControlName]="field.name"
                        [min]="field.validations?.min ?? null"
                        [max]="field.validations?.max ?? null"
                        [class.invalid-input]="
                          dynamicForm().get(field.name)?.touched &&
                          dynamicForm().get(field.name)?.invalid
                        "
                      />
                    }
                    @case ('select') {
                      <app-select
                        [id]="field.name"
                        [formControlName]="field.name"
                        [title]="field.label"
                        [placeholder]="field.placeholder || field.label"
                        [options]="field.options || []"
                        [isRequired]="field.isRequired ?? false"
                        [isValid]="!dynamicForm().get(field.name)?.errors"
                        [bindLabelKey]="'display'"
                        [bindValueKey]="'value'"
                        [appearance]="'fill'"
                        [displaySearch]="true"
                        [isMultiSelect]="field.isMultiSelect ?? false"
                      ></app-select>
                    }
                  }
                }
              </div>
            }
          </div>
        }
      </div>
    </form>
  </div>
  <div class="button-container">
    <app-button
      [buttonText]="'שמור שינויים'"
      (clickFunction)="openModal()"
    ></app-button>
  </div>
</div>

@if (isModalOpen()) {
  <app-modal
    [isModalOpen]="true"
    [modalSize]="'md'"
    [buttons]="modalButtons()"
    (isModalClosed)="closeModal()"
    [title]="modalTitle"
  >
    <div>
      <div class="mb-2">
        <img [src]="Icons.DANGER" />
        <p class="text-bolder-modal">
          האם אתה בטוח שברצונך לעדכן את ההגדרות?
          <br />
        </p>
      </div>
    </div>
  </app-modal>
}