@import "../../../../../../styles/elements.scss";

:host {
  display: block;
}



.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.invalidInput {
  border: 1px solid red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
}

.error {
  color: red;
}

.inline-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  
  .exit-icon {
    cursor: pointer;
    margin-bottom: 10px;
  }

  .form-title {
    font-size: 14px;
    color: black;
    font-weight: 700;
    font-family: $fontOpenSans;
    direction: rtl;
    margin-bottom: 4px;
  }
}
