<div [class.disabled]="isDisabled">
  <div class="inline-header">
    @if (isRequired) {
      <img class="exit-icon" [src]="Icons.ASTERISK_RED" />
    }
    <div class="form-title">{{ title }}</div>
  </div>
  <div class="checkbox-group">
    @for (option of options; track option.value) {
      <div
        class="checkbox"
        [ngClass]="!isValid ? 'invalidInput' : ''"
      >
        <app-checkbox
          [checked]="option.checked || false"
          [label]="option.label"
          [isDisabled]="isDisabled"
          (valueChanged)="toggleCheckbox(option.value, $event)"
        ></app-checkbox>
      </div>
    }
  </div>
</div>
