<div class="inputs-container-form">
  @if (userForm) {
    <form [formGroup]="userForm">
      <div class="inputs-container xl-w-1200px xxl-w-1400px">
        @for (field of userFields().slice(0, 4); track field.name) {
          <div class="input-item">
            <div
              class="wrap-field"
              [class]="'field-' + field.length"
            >
              @switch (field.type) {
                @case (FieldTypeEnum.Text) {
                  @if (field.name !== 'userName') {
                    <app-input-text
                      [title]="field.displayName"
                      [placeholder]="field.displayName"
                      [formControlName]="field.name"
                      [isValid]="isFieldValid(field.name)"
                      [isRequired]="field.isRequired"
                    ></app-input-text>
                  }
                  @if (field.name === 'userName') {
                    <app-input-text
                      [title]="field.displayName"
                      [placeholder]="field.displayName"
                      [formControlName]="field.name"
                      [isValid]="true"
                      [isRequired]="field.isRequired"
                    ></app-input-text>
                  }
                }
                @case (FieldTypeEnum.Select) {
                  <app-select
                    [dataFunction]="field.dataFunction"
                    bindLabelKey="value"
                    bindValueKey="id"
                    [title]="field.displayName"
                    [placeholder]="field.displayName"
                    [formControlName]="field.name"
                    [isMultiSelect]="field.multipleSelect || false"
                    [isValid]="isFieldValid(field.name)"
                    [isRequired]="field.isRequired"
                  ></app-select>
                }
              }
            </div>
          </div>
        }

        @for (field of userFields().slice(4, 6); track field.name) {
          <div class="input-item">
            <div
              class="wrap-field"
              [class]="'field-' + field.length"
            >
              @switch (field.type) {
                @case (FieldTypeEnum.Text) {
                  @if (field.name !== 'id') {
                    <app-input-text
                      [title]="field.displayName"
                      [placeholder]="field.displayName"
                      [formControlName]="field.name"
                      [isValid]="isFieldValid(field.name)"
                      [isRequired]="field.isRequired"
                    ></app-input-text>
                  }
                  @if (field.name === 'id') {
                    <app-input-text
                      [title]="field.displayName"
                      [placeholder]="field.displayName"
                      [formControlName]="field.name"
                      [isValid]="true"
                      [isRequired]="field.isRequired"
                    ></app-input-text>
                  }
                }
                @case (FieldTypeEnum.Select) {
                  <app-select
                    [dataFunction]="field.dataFunction"
                    bindLabelKey="value"
                    bindValueKey="id"
                    [title]="field.displayName"
                    [placeholder]="field.displayName"
                    [formControlName]="field.name"
                    [isMultiSelect]="field.multipleSelect || false"
                    [isValid]="isFieldValid(field.name)"
                    [isRequired]="field.isRequired"
                  ></app-select>
                }
                @case (FieldTypeEnum.Phone) {
                  <app-input-phone
                    [title]="field.displayName"
                    [formControlName]="field.name"
                    [isValid]="isFieldValid(field.name)"
                    [isRequired]="field.isRequired"
                  ></app-input-phone>
                }
              }
            </div>
          </div>
        }
        
        <button
          class="reset-password-btn link-btn button-base"
          [disabled]="disableEdit()"
          (click)="resetPassword()"
          [class.disabled]="disableEdit()"
        >
          אפס סיסמה
        </button>
        <!-- Buttons -->

        <div class="input-item full-width constant-btns with-top-margin">
          <app-button
            [buttonText]="'שמור שינויים'"
            (clickFunction)="updateNationalUser()"
            [isDisabled]="disableEdit()"
          ></app-button>
        </div>
      </div>
    </form>
  }
</div>