@import "../../../../../styles/elements.scss";

:host {
  .infrastructure-container {
    width: 639px !important;
    max-height: 660px;

    .inline-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        color: black;
        font-weight: 800;
        font-family: $fontOpenSans;
        direction: rtl;
        font-size: 18px;
        line-height: 25px;
        margin: 0;
      }

      .exit-icon {
        cursor: pointer;
      }
    }

    .rtl-direction {
      direction: rtl;
      margin-bottom: 50px;
    }
  }

  .content-container {
    display: flex;
    direction: rtl;
    margin-top: 30px;
    flex-direction: column;

    .upload-title {
      font-family: $fontOpenSans;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      text-align: right;
      color: #000000;
      margin-bottom: 2px;
    }

    .file-upload-wrapper {
      display: flex;
      align-items: center;
      width: 200px;
    }
  }

  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: 150px;

    ::ng-deep app-button {
      margin: 2px;
      button {
        margin: 0 !important;
        padding: 0 35px;
      }
    }
  }
}

::ng-deep mat-form-field {
  margin-left: 10px;
  max-width: 180px;
  align-items: center;
  .mat-form-field-underline {
    display: none;
  }

  .mat-select-value {
    text-align: right;
  }

  .mat-select-arrow-wrapper {
    transform: none !important;
  }

  .mat-form-field-infix {
    margin-top: -3px;
  }

  .mat-form-field-wrapper {
    padding: 0;

    .mat-form-field-flex {
      height: 40px;
      padding: 0;
      background-color: #f7f9fc;
      border-radius: 4px;
      border: 1px solid #e3e7eb;
    }
  }
}
