<app-secondary-header
  secondaryHeaderTitle="תו דייר  {{ parkingPermit?.parkingPermitNumber }}"
  [routeNameToGoBack]="'parking-permits'"
  [extraParams]="{ source: 'parkingPermit' }"
></app-secondary-header>

<div class="row pb-4">
  <app-action-buttons
    #actionButtonsComponent
    [buttonsList]="actionButtonsList"
    [recordId]="parkingPermit?.parkingPermitID || ''"
    [moduleEnum]="moduleEnum.ParkingPermitsModule"
    [emailAddress]="emailAddress"
    [phoneNumber]="phoneNumber"
    [recordData]="parkingPermit"
  ></app-action-buttons>
</div>

@if (isFormReady()) {
<app-parking-permit-info
  [parkingPermitForm]="parkingPermitForm"
  [parkingPermit]="parkingPermit"
  [authorityID]="currentAuthority"
>
</app-parking-permit-info>
}
