<!-- <app-secondary-header
  secondaryHeaderTitle="תו דייר  {{ parkingPermit?.parkingPermitNumber }}"
  [routeNameToGoBack]="'parking-permits'"
  [extraParams]="{ source: 'parkingPermit' }"
></app-secondary-header> -->
<div class="col d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center col-5">
    <div class="arrow-container" (click)="back()">
      <img [src]="Icons.ARROW_LEFT" />
    </div>
    <span class="heading"
      >תו דייר {{ parkingPermit?.parkingPermitNumber }}</span
    >
  </div>
</div>
<div class="row pb-4">
  <app-action-buttons
    #actionButtonsComponent
    [buttonsList]="actionButtonsList"
    [recordId]="parkingPermit?.parkingPermitID || ''"
    [moduleEnum]="moduleEnum.ParkingPermitsModule"
    [emailAddress]="emailAddress"
    [phoneNumber]="phoneNumber"
    [recordData]="parkingPermit"
  ></app-action-buttons>
</div>

{{isFormReady()}}
@if (isFormReady()) {
<app-parking-permit-info
  [parkingPermitForm]="parkingPermitForm"
  [parkingPermit]="parkingPermit"
  [authorityID]="currentAuthority"
>
</app-parking-permit-info>
}
