<form [formGroup]="form" [ngClass]="sizeClass"> 
  <div class="search-area wrap-search-input">
    <!-- [ngClass]="{ 'not-found': !foundResult || !filterHasValue }" -->
    <div class="start">
      <img [src]="icons.SEARCH" [alt]="icons.SEARCH" class="search-icon" />
      <span *ngIf="showPlaceholder && !form.get('searchText')?.value" class="text">{{ searchTitle }}</span>
      <input
        #searchText
        type="text"
        class="input"
        placeholder="{{ searchBy }}"
        formControlName="searchText"
             />
     </div>
     <div class="end">
      <img
        *ngIf="form.get('searchText')?.value"
        [src]="icons.EXIT"
        class="clear-icon"
        (click)="resetSearch()"
        [alt]="icons.EXIT"
      />
      <mat-datepicker-toggle
        [disableRipple]="true"
        matSuffix
        [for]="picker"
        (click)="onDatePickerToggle(); $event.stopPropagation()"
        *ngIf="showDatePicker && !form.get('searchText')?.value"
      >
        <mat-icon matDatepickerToggleIcon>
          <img [src]="icons.CELANDER" [alt]="icons.CELANDER" />
        </mat-icon>
      </mat-datepicker-toggle>
      <mat-date-range-picker #picker [startAt]="startAt" class="hebrew-date-picker"></mat-date-range-picker>
      <img
        *ngIf="showFilters && !form.get('searchText')?.value"
        id="filter-icon"
        [src]="icons.SEARCH_END"
        [alt]="icons.SEARCH_END"
        (click)="openAdvancedSearch()"
      />
    </div>
  </div>
  <mat-date-range-input
    [ngClass]="{ hide: !picker.opened }"
    dir="rtl"
    [rangePicker]="picker"
  >
    <input readonly="true" matStartDate formControlName="startDate" placeholder="תאריך התחלה" />
    <input readonly="true" matEndDate formControlName="endDate" placeholder="תאריך סיום" />
  </mat-date-range-input>
  <div
    class="selected-date-range"
    *ngIf="
      form.get('startDate')?.value &&
      form.get('endDate')?.value &&
      !picker.opened
    "
  >
    <span>
      {{ form.get("startDate")?.value | date : "dd/MM/yy" }} -
      {{ form.get("endDate")?.value | date : "dd/MM/yy" }}
    </span>
  </div>
  <app-dropdown-window
    *ngIf="dropdownWindowOpened"
    [searchBarWidth]="searchBarWidth"
    (closeDropdownEvent)="closeDropdownWindow()"
  >
    <app-advanced-search
      *ngIf="advancedSearchOpened"
      [form]="form"
      [advancedForm]="advancedSearch"
      (onSearch)="onSearch()"
      [searchButtonClicked]="searchButtonClicked"
    ></app-advanced-search>
    <app-results-dropdown
      *ngIf="resultData.length && !advancedSearchOpened"
      [resultData]="resultData"
      [loader]="loader"
      [form]="form"
      [originalData]="resultData"
      (optionSelected)="onOptionSelected($event)"
    >
    </app-results-dropdown>
  </app-dropdown-window>
  <div class="under-search">
    <!-- <div>
      <ng-container *ngIf="!filterHasValue; else results">
        <span class="not-found-message">יש להזין נתונים לחיפוש</span>
      </ng-container>
      <ng-template #results>
        <span class="not-found-message" *ngIf="!foundResult">
          * לא נמצאו תוצאות חיפוש מתאימות</span
        >
        <span *ngIf="">{{ resultCountMessage }}</span>
      </ng-template>
    </div> -->
    <!-- <span *ngIf="resultCountMessage" class="result-count-msg">{{
      resultCountMessage
    }}</span> -->

    <span *ngIf="total && !hasResultsDropdown" class="result-count-msg">{{
      total +
        " " +
        resultCountMessage +
        " " +
        (searchTextValue ? " " + searchTextValue : "")
    }}</span>
  </div>
</form>

