@import "../../../../styles/elements.scss";

.template-list-wrapper {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 8px;
  margin-top: 16px;
}
.template-list-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.second-title {
  width: 354px;
  height: 30px;
  font-family: $fontOpenSans;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
