@for (subTable of subTablesData(); track subTable.key) {
  <app-sub-table
    [data]="subTable"
    (fieldUpdate)="onFieldUpdate($event)"
  />
}

<app-modal
  [isModalOpen]="isModalOpen()"
  [modalSize]="'md'"
  [buttons]="modalButtons()"
  (isModalClosed)="closeModal()"
  [title]="modalTitle"
>
  <div>
    <div class="mb-2">
      <img [src]="Icons.DANGER" alt="Warning icon" />
      <p class="text-bolder-modal">
        האם אתה בטוח שברצונך לעדכן את ההגדרות?
        <br />
      </p>
    </div>
  </div>
</app-modal>
