<div class="import-container p-4">
  <div class="inline-header">
    <img class="exit-icon" [src]="Icons.EXIT" (click)="onNoClick()" />
    <h5 class="form-title">{{ title }}</h5>
  </div>
  <div class="mt-2">
    <div class="form-group">
      <div class="form-label">סה"כ רשומות:</div>
      <div class="form-input">
        <input type="text" [disabled]="true" [value]="totalRecords()" />
      </div>
    </div>

    <div class="form-group">
      <div class="form-label">סה"כ נקלטו בהצלחה:</div>
      <div class="form-input">
        <input type="text" [disabled]="true" [value]="successfulRecords()" />
      </div>
    </div>

    <div class="form-group">
      <div class="form-label">סה"כ שגויים:</div>
      <div class="form-input">
        <input type="text" [disabled]="true" [value]="errorRecords()" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="mt-2 link-button" (click)="onLinkClick()">
      הורדת דוח שגויים
      <span class="underline-wrapper">
        <img [src]="Icons.DOWNLOAD_REPORT" alt="Download" />
      </span>
    </button>
  </div>

  <div class="button-container">
    <app-button
      [buttonText]="'סיים'"
      (clickFunction)="onSubmit()"
      [buttonClass]="'primary-btn btn-base'"
    ></app-button>
  </div>
</div>
