<div class="form-card-header">
  <h3 class="form-title">{{ title() }}</h3>
</div>
<div class="form-card">
  <div class="form-card-content">
    <!-- Form -->
    @if (dynamicForm) {
      <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
        <div class="form-container">
          <!-- Loop through rows -->
          @for (row of rows(); track $index) {
            <div class="form-row">
              <!-- Loop through fields within a row -->
              @for (field of row.row; track field.name) {
                <div
                  [class]="'form-field' + field.size"
                  [ngClass]="{
                    disabled: !!field.disabled,
                    inputError:
                      
                      (field.type !== 'fromTo' && (
                        dynamicForm.get(field.name)?.invalid &&
                        dynamicForm.get(field.name)?.touched &&
                        !!dynamicForm.get(field.name)?.errors
                      )) ||
                      (isSubmitted && dynamicForm.get(field.name)?.errors?.['required'])
                  }"
                >
                  <!-- Field Content -->
                  @if (!field.hide) {
                    <!-- Field Types -->
                    @switch (field.type) {
                      @case ('text') {
                        <!-- Text Input -->
                        <app-input-text
                          [formControlName]="field.name"
                          [placeholder]="field.placeholder || ''"
                          [isValid]="isFieldValid(field.name)"
                          [isRequired]="field.isRequired"
                          [title]="field.label"
                        ></app-input-text>
                      }
                      @case ('number') {
                        <!-- Number Input -->
                        <app-input-number
                          [formControlName]="field.name"
                          [placeholder]="field.placeholder || ''"
                          [isValid]="isFieldValid(field.name)"
                          [isRequired]="field.isRequired"
                          [title]="field.label"
                        ></app-input-number>
                      }
                      @case ('date') {
                        <!-- Date Input -->
                        <app-input-date
                          [title]="field.label"
                          [formControlName]="field.name"
                          [placeholder]="'dd-mm-yyyy'"
                          [isValid]="isFieldValid(field.name)"
                        ></app-input-date>
                      }
                    }
                  }

                  <!-- Validation Errors -->
                  @if (
                    dynamicForm.get(field.name)?.invalid &&
                    dynamicForm.get(field.name)?.touched
                  ) {
                    <div class="validation-errors"></div>
                  }
                </div>
              }
            </div>
          }
        </div>
      </form>
    }
  </div>
</div>
