<div [ngClass]="{ disabled: disabled }">
  @if (title) {
    <div class="title-placeholder">{{ title }}</div>
  }
  <div class="button-container containerSize" [ngClass]="'status-' + currentUploadStatus()">
    <input type="file" #fileUpload hidden (change)="handleFileInput()" />
    <img
      [src]="getCurrentIcon()"
      (click)="onUploadButtonClick()"
      style="cursor: pointer"
    />
    <span class="title-upload-text">{{ getCurrentTitleText() }}</span>
    @if (currentUploadStatus() !== 'uploading' && currentUploadStatus() !== 'failed') {
      <span class="upload-text"> גרור את הקבצים שברצונך לצרף</span>
    }
  </div>
  @if (previewFiles().length > 0) {
    <div class="files-preview-container mt-1">
      @for (file of previewFiles(); track trackByFileId($index, file)) {
        <app-document-preview-new
          [previewFile]="file"
          [isFullPath]="true"
          [isDownoladable]="isDownoladable"
          [uploadStatus]="currentUploadStatus()"
          [errorType]="currentErrorType()"
          (deleteEvent)="deleteFile($event)"
        ></app-document-preview-new>
      }
    </div>
  }
</div>
