<div class="pt-3 d-flex align-items-center justify-content-between">
  <div class="btn-group">
    @for (tab of tabs; track tab.id) {
      @if (!tab.disabled) {
        <button
          type="button"
          [class]="'tab-button ' + (tab.cssClass || '')"
          [ngClass]="tab.text === currentActive() ? 'active' : ''"
          (click)="changeTab(tab)"
          [routerLink]="tab.url ? [tab.url] : []"
        >
          @if (tab.imgSrc?.length) {
            <img [src]="tab.imgSrc" [alt]="tab.text" />
          }
          <span>{{ tab.text }}</span>
          @if (tab.total !== undefined) {
            <span class="total">({{ tab.total }})</span>
          }
        </button>
      }
    }
  </div>
</div>
