<div [class.disabled]="disabled">
  <div class="inline-header">
    @if (isRequired) {
      <img class="exit-icon" [src]="Icons.ASTERISK_RED" />
    }
    <div
      class="title-placeholder"
      [ngStyle]="{ 'margin-bottom': title ? '0.5rem' : '0' }"
    >
      {{ title }}
    </div>
  </div>
  <div
    [class.input-fill]="appearance != 'standard'"
    [class.search-active]="isSearchVisible()"
    [class.multiselect]="isMultiSelect"
    class="select"
    [ngClass]="{
      invalidInput: !isValid,
      validInput: control.value && control.touched
    }"
  >
    @if (control.value && (isMultiSelect ? control.value.length : true)) {
      <span>
        <mat-icon class="ml-2" (click)="clearSelectionAndUpdateDateAccordingly()">clear</mat-icon>
      </span>
    }
    
    <!-- Custom dropdown arrow icon -->
    <img 
      class="custom-dropdown-arrow" 
      [src]="Icons.ARROW_DOWN" 
      alt="dropdown arrow"
    />
    
    <!-- Search input overlay - only shown when displaySearch is true -->
    @if (displaySearch && isSearchVisible()) {
      <div class="search-overlay">
        <img 
          class="search-icon" 
          [src]="Icons.SEARCH" 
          alt="search icon"
        />
        <input
          matInput
          class="search-input-overlay"
          [placeholder]="searchPlaceholder"
          [formControl]="filterFormControl"
          (focus)="onSearchFocus()"
          (blur)="onSearchBlur()"
          (keydown.escape)="hideSearch()"
          (keydown.enter)="hideSearch()"
        />
        <mat-icon class="search-close-icon" (click)="hideSearch()">close</mat-icon>
      </div>
    }
    
    <mat-select
      appInfiniteScroll
      (scrolled)="updateCurrentPage()"
      [formControl]="control"
      disableOptionCentering
      [multiple]="isMultiSelect"
      [placeholder]="placeholder"
      [compareWith]="compareValues"
      (openedChange)="onSelectOpened($event)"
      [panelClass]="isMultiSelect ? 'mat-mdc-select-panel multiselect-panel' : 'mat-mdc-select-panel'"
      [attr.data-multiselect]="isMultiSelect"
    >
      @if (items$ | async; as retrievedItems) {
        <div>
          @for (item of retrievedItems; track trackByItemId($index, item)) {
            <mat-option [value]="bindValueKey ? item[bindValueKey] : item">
              @if (bindLabelKeys) {
                <span appTruncatedTextTooltip>
                  {{ constructLabel(item, bindLabelKeys) }}
                </span>
              } @else {
                <span appTruncatedTextTooltip>
                  {{ item[bindLabelKey] || item.name || item.section }}
                </span>
              }
            </mat-option>
          }
        </div>
      } @else {
        <mat-option disabled="true">טוען...</mat-option>
      }
    </mat-select>
  </div>
  
  <!-- Selected items display section -->
  @if (isMultiSelect && control.value && control.value.length > 0) {
    <div class="selected-items-container">
      @for (selectedValue of control.value; track trackBySelectedItem($index, selectedValue); let i = $index) {
        <div class="selected-item-tag">
          <span 
            class="tag-text" 
            appTruncatedTextTooltip 
          >{{ getSelectedItemLabel(selectedValue) }}</span>
          <mat-icon class="remove-icon" (click)="removeSelectedItem(i, $event)">close</mat-icon>
        </div>
      }
    </div>
  }
</div>
