<!-- <ng-image-slider
  #nav
  *ngIf="galleryObj.items.length"
  [images]="galleryObj.items"
  [videoAutoPlay]="autoPlay"
  [direction]="direction"
  [infinite]="infinite"
  [imagePopup]="imagePopup"
  [imageSize]="imageSize"
  [manageImageRatio]="manageImageRatio"
  [showArrow]="showArrow"
  [arrowKeyMove]="arrowKeyMove"
  [showVideoControls]="showVideoControls"
  [lazyLoading]="lazyLoading"
  [defaultActiveImage]="currentIndex"
  (imageClick)="emitEvent('imageClick', $event)"
  (lightboxArrowClick)="emitEvent('lightboxArrowClick', $event)"
></ng-image-slider> -->
