@import "../../../../../styles/elements.scss";
.delete-group-container {
  position: absolute;
  width: 259.04px;
  height: 129.52px;
  background: #d3f0ff;
  border-radius: 4px;

  .button-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;


    ::ng-deep app-button {
      margin: 2px;
      button {
        margin: 0 !important;
        padding: 0 35px;
      }
    }
  }
}

.text {
  font-family: $fontOpenSans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #002741;
  display: flex;
  align-items: center;
  text-align: center;
  direction: rtl;
}
