<div *ngIf="advancedForm && form" [ngClass]="{ 'header-less-tabs': (advancedForm.tabs || []).length === 1 }">
  <mat-tab-group 
    mat-stretch-tabs="false" 
    mat-align-tabs="start"
    [disableRipple]="true"
    [animationDuration]="0"
    dir="rtl">
    <form [formGroup]="form">
      <mat-tab
        *ngFor="let tab of advancedForm.tabs || []"
        [label]="(tab.displayName || '') + getSum(tab.name || '')"
      >
        <div class="p-2" [formGroupName]="tab.name || ''">
          <div *ngFor="let row of tab.rows || []" class="input-group g-3">
            <div
              class="p-2 d-flex flex-column justify-content-end"
              *ngFor="let field of row.group || []"
              [ngClass]="{ 'mb-2': field.type === FieldTypeEnum.Checkbox }"
            >
              <div
                class="wrap-field"
                [class]="'field-' + (field.length || '')"
                [ngSwitch]="field.type"
              >
                <app-select
                  *ngSwitchCase="FieldTypeEnum.Select"
                  fxFill
                  appearance="outline"
                  [placeholder]="field.displayName || ''"
                  [bindLabelKeys]="field.bindLabelKeys"
                  [formControlName]="field.name || ''"
                  [dataFunction]="field.dataFunction"
                  searchPlaceholder="חיפוש"
                  (itemFilterServerSide)="waitForFilterResponse($event)"
                  bindLabelKey="value"
                  bindValueKey="id"
                  [isMultiSelect]="field.multipleSelect || false"
                  [title]="field.displayName || ''"
                  ></app-select>

                <app-input-text
                  *ngSwitchCase="FieldTypeEnum.Text"
                  [placeholder]="field.displayName || ''"
                  [formControlName]="field.name || ''"
                  [connectedField]="field.connectedField"
                  [title]="field.displayName || ''"
                  [size]="getInputSize(field.size)"
                ></app-input-text>

                <app-input-checkbox
                  *ngSwitchCase="FieldTypeEnum.Checkbox"
                  [placeholder]="field.displayName || ''"
                  [formControlName]="field.name || ''"
                ></app-input-checkbox>

                <app-input-date
                  *ngSwitchCase="FieldTypeEnum.Date"
                  [title]="field.displayName || ''"
                  [formControlName]="field.name || ''"
                  [placeholder]="field.displayName || ''"
                ></app-input-date>

                <app-date-time
                  *ngSwitchCase="FieldTypeEnum.DateTime"
                  [placeholder]="field.displayName || ''"
                  [title]="field.displayName || ''"
                  [formControlName]="field.name || ''"
                ></app-date-time>

                <app-input-phone
                  *ngSwitchCase="FieldTypeEnum.Phone"
                  [title]="field.displayName || ''"
                  [formControlName]="field.name || ''"
                  [isValid]="true"
                ></app-input-phone>

                <app-input-time
                  *ngSwitchCase="FieldTypeEnum.Time"
                  [title]="field.displayName || ''"
                  [formControlName]="field.name || ''"
                ></app-input-time>

                <!-- Simple textarea for basic text input -->
                <div
                  *ngSwitchCase="FieldTypeEnum.Textarea"
                  class="textarea-container"
                >
                  <div class="title-placeholder">{{ field.displayName || '' }}</div>
                  <textarea
                    [formControlName]="field.name || ''"
                    [placeholder]="field.displayName || ''"
                    class="textarea-input"
                    rows="3"
                  ></textarea>
                </div>

                <!-- <div *ngSwitchDefault>output2</div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="wrap-end-btns">
          <div class="d-flex justify-content-end">
            <button
              class="outline-btn button-base"
              (click)="resetForm(tab.name || '')"
            >
              נקה
            </button>
            <button
              class="primary-btn button-base"
              [disabled]="!form || form.invalid"
              [ngClass]="
                !form || form.invalid ? 'primary-btn-disabled' : 'primary-btn-fill'
              "
              (click)="search()"
            >
              חפש
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab disabled class="reset-all-tab">
        <ng-template mat-tab-label class="reset-all-tab">
          <button 
            (click)="resetForm()" 
            class="link-btn button-base"
          >
            נקה הכל
          </button>
        </ng-template>
      </mat-tab>
    </form>
  </mat-tab-group>
</div>

<!-- Show message when advancedForm or form is not available -->
<div *ngIf="!advancedForm || !form" class="p-4 text-center">
  <p>טוען חיפוש מתקדם...</p>
</div>
