<div class="time-line">
  @if (stepsSignal().length > 0) {
    @for (step of stepsSignal(); track step.enumName; let i = $index; let last = $last) {
      <div
        class="step"
        [ngClass]="{ selected: selectedStep().text === step.text }"
      >
        <div class="stage">
          {{ step.text }}
          <app-step-tooltip
            [title]="step?.title"
            [description]="step?.description"
            [last]="last"
          ></app-step-tooltip>
        </div>
        <div
          class="circle"
          [matTooltip]="step.text"
          [matTooltipClass]="['custom-tooltip', 'time-line-gray']"
          Tooltip
          [ngClass]="{
            updated: step.isUpdated && step.errors === 0,
            'has-errors': step.errors > 0,
            'has-updates': step.updatedCount > 0 && step.errors === 0,
            'step-missed': formSubmitted() && !step.seen && isFirstTimeSignal()
          }"
          (click)="moveTo(step)"
        >
          <img [src]="'assets/icons/time-line/' + step.imgSrc" loading="lazy" />

          @if (step.errors > 0) {
            <div class="errors-container">
              <div class="errors">
                <span>{{ step.errors }}</span>
              </div>
            </div>
          }

          @if (step.updatedCount > 0 && step.errors === 0) {
            <div class="updated-container">
              <div class="updated">
                <span>{{ step.updatedCount }}</span>
              </div>
            </div>
          }
        </div>
        @if (step.isMoveable) {
          <div class="change-order">
            <button (click)="changeOrder(step)">
              @if (step.order !== switchStep()?.order) {
                <img
                  [src]="'assets/icons/time-line/cross-arrows.svg'"
                  loading="lazy"
                />
              }
              @if (step.order === switchStep()?.order) {
                <img
                  [src]="'assets/icons/time-line/cross-arrows-selected.svg'"
                  loading="lazy"
                />
              }
            </button>
          </div>
        }
      </div>
      <div class="line" [ngStyle]="{ width: step.lineWidth }"></div>
    }
  }
</div>
