<div class="card p-3 mb-2">
  <div class="record-data">
    <div class="record-label">
      <div class="ticket-number-title" (click)="openPermitDetails()">
        <img
          [src]="ticketDetailsSvg"
          (click)="openPermitDetails()"
          style="cursor: pointer"
        />
        תו מספר {{ permit()?.parkingPermitNumber }}
      </div>
    </div>
    <div class="meddle-section">
      <div class="details-label">
        סטטוס:
        <app-tag
          [tagName]="parkingPermitStatus"
          [tagId]="parkingPermitStatusID.toString()"
        >
        </app-tag>
      </div>
      <div class="details-label">
        סוג תו:
        <span class="details-value"> {{ parkingPermitTypeName }}</span>
      </div>
      <div class="details-label">
        <div class="authority-label">
          רשות:
          <span class="authority-name-label">
            {{ parkingPermitAuthorityName }}</span
          >
        </div>
      </div>
    </div>
    <div class="left-section">
      <div class="price-label">₪ {{ parkingPermitCost }}</div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="total">
    <span>סה"כ לתשלום : </span>
    <div class="price-label">₪ {{ parkingPermitCost }}</div>
  </div>
</div>
