<!-- <div class="direction: rtl">
  <router-outlet></router-outlet>
</div> -->


<!-- <div class="p-2 d-flex flex-column gap-2">
  <button class="primary-btn button-icon-lg">
    כפתור <i class="fa fa-check"></i>
  </button>

  <button class="primary-btn button-icon-base">
    כפתור <i class="fa fa-check"></i>
  </button>

  <button class="primary-btn button-icon-base" disabled>
    כפתור <i class="fa fa-check"></i>
  </button>

  <button class="primary-btn button-icon-sm">
    כפתור <i class="fa fa-check"></i>
  </button>
  <button class="primary-btn button-sm">כפתור</button>

  <button class="primary-btn button-lg">כפתור</button>

  <button class="primary-btn button-base">כפתור</button>

  <button class="tertiary-btn button-base">כפתור</button>

  <button class="outline-secondary-btn button-base">כפתור</button>
  <button class="outline-btn button-base">כפתור</button>

  <button class="link-btn button-base">כפתור</button>

  <button class="outline-btn button-lg" disabled>Cancel</button>

  <app-button
    [buttonText]="'כפתור'"
    [buttonClass]="'outline-secondary-btn'"
    [isDisabled]="true"
  >
  </app-button>
  <app-button
    [buttonText]="'כפתור'"
    [buttonClass]="'outline-secondary-btn'"
    [imgSrc]="Icons.ADD"
  >
  </app-button>

  <label>
    <input
      type="checkbox"
      class="checkbox-base checkbox-primary"
      disabled
      checked
    />
    Receive newsletter
  </label>

  <label>
    <input type="checkbox" class="checkbox-base checkbox-secondary" checked />
    Accept terms
  </label>
</div> -->






 
<!-- <div class="upload-container" style="width: 80%; margin: 0 auto;">
  <app-file-upload-new 
  [selectedFiles]="selectedFiles"
[maxFileSizeMB]="0.001"
  ></app-file-upload-new>
</div> -->

<!-- Search bar with different sizes -->
<div style="margin: 20px;">
  <h3>Small Size</h3>
  <app-search-bar 
    [size]="InputSizeEnum.Sm"
    [form]="form" 
    [showFilters]="false"
    (search)="sendFormValue($event)"
    [submitOnKey]="true"
    [resultData]="data"
    [total]="total"
    [searchTextValue]="searchText"
    [showDatePicker]="false"
    [hasResultsDropdown]="false"
    searchBy="שם משתמש,שם מלא,תעודת זהות..."
    searchTitle="חיפוש"
    [showPlaceholder]="true"
  ></app-search-bar>
</div>


<div style="margin: 20px;">
  <h3>Medium Size</h3>
  <app-search-bar 
    [size]="InputSizeEnum.Md"
    [form]="form" 
    [showFilters]="false"
    (search)="sendFormValue($event)"
    [submitOnKey]="true"
    [resultData]="data"
    [total]="total"
    [searchTextValue]="searchText"
    [showDatePicker]="false"
    [hasResultsDropdown]="false"
    searchBy="שם משתמש,שם מלא,תעודת זהות..."
    searchTitle="חיפוש"
    [showPlaceholder]="true"
  ></app-search-bar>
</div>

<div style="margin: 20px;">
  <h3>Large Size</h3>
  <app-search-bar 
    [size]="InputSizeEnum.Lg"
    [form]="form" 
    [showFilters]="false"
    (search)="sendFormValue($event)"
    [submitOnKey]="true"
    [resultData]="data"
    [total]="total"
    [searchTextValue]="searchText"
    [showDatePicker]="false"
    [hasResultsDropdown]="false"
    searchBy="שם משתמש,שם מלא,תעודת זהות..."
    searchTitle="חיפוש"
    [showPlaceholder]="true"
    [disabled]="true"
  ></app-search-bar>
</div>


<br>
<!-- Search bar for table -->
<div style="margin: 20px; padding-top: 100px;" >
  <h3>Table Search</h3>
  <app-search-bar 
    [size]="InputSizeEnum.Md"
    [form]="form" 
    [showFilters]="false"
    (search)="sendFormValue($event)"
    [submitOnKey]="true"
    [resultData]="data"
    [total]="total"
    [searchTextValue]="searchText"
    [showDatePicker]="false"
    [hasResultsDropdown]="false"
    [suggestions]="searchSuggestions"
    searchBy="שם משתמש,שם מלא,תעודת זהות..."
    searchTitle="חיפוש בטבלה"
    [showPlaceholder]="true"
  ></app-search-bar>
</div>

<div style="margin: 20px;">

  <app-table
  [data]="data"
  [columns]="columns"
  [total]="total"
  [form]="form"
  [showPaginator]="showPaginator"
  [selectedItemData]="selectedUserData"
  [icons]="TicketStagesIcons"
  [loader]="loader"
  [pageSize]="pageSize"
  [parentComponentName]="'app-table'"
  [isCheckboxsSelected]="true"
  [icon]="Icons.FILTER_ICON"
  (onRowEvent)="onRowEvent($event)"
>
</app-table>

</div>
