<div class="infrastructure-container p-4">
  <div class="inline-header">
    <h5 class="title">{{ title }}</h5>
    <img class="exit-icon" [src]="Icons.EXIT" (click)="onNoClick()" />
  </div>

  <div class="content-container">
    <div class="w-100">
      <div>
        <img [src]="Icons.BACK_ARROW_BLACK" alt="arrow" />
        A
      </div>

      <span class="text" *ngIf="!isSignsImport">{{ description }}</span>
      <span class="text" *ngIf="isSignsImport">
        <strong>פרטי השלט:</strong>
        <p>
          קוד, מספר שלט, תיאור השלט, שטח השלט, אורך שלט, רוחב שלט סטטוס שלט,
          מיקום שלט, ישוב שלט, רחוב שלט, מספר בית שלט
        </p>

        <strong>פרטי העסק:</strong>
        <p>שם העסק, ח.פ עסק, ישוב העסק, רחוב העסק, מספר בית - עסק</p>

        <strong>פרטי בעל השלט:</strong>
        <p>
          ת.ז בעל השלט, שם פרטי בעל השלט, שם משפחה בעל השלט, עיר בעל העסק, רחוב
          בעל השלט, מס' בית בעל העסק, טלפון בעל העסק שם העסק, ח.פ עסק, ישוב
          העסק, רחוב העסק, מספר בית - עסק
        </p>
      </span>
      <div class="mb-2">
        <img [src]="Icons.DANGER" />
        <p class="text-bold-modal">
          העלאת קובץ תדרוס את הנתונים הקודמים הקיימים
          <br />
          במערכת אודות הטבלה.
        </p>
      </div>
      <div class="file-upload-wrapper">
        <app-file-upload-new
          (fileSelected)="getUploadedFile($event)"
          [selectedFiles]="filesToUpload"
          [documentTypes]="fileTypes"
          [allowedFileTypes]="[FileType.XLSX, FileType.XLS, FileType.CSV]"
          [containerSize]="'lg'"
        >
        </app-file-upload-new>
      </div>
    </div>

    <div class="button-container">
      <!-- <app-button
        [buttonText]="'ביטול'"
        (clickFunction)="onNoClick()"
        [buttonClass]="'pop-up-cancel-btn-fill'"
      ></app-button> -->
      <app-button
        [buttonText]="'טען קובץ'"
        (clickFunction)="onSubmit()"
        [buttonClass]="'primary-btn button-base'"
      ></app-button>
    </div>
  </div>
</div>
