<div class="sub-modules" dir="rtl">
  <h5 class="display-paragraph">
    <span class="display-name">{{ module?.displayName }}</span>
    {{ module?.subDisplayName }}
  </h5>

  <div class="swiper my-swiper" #swiperEl>
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let subModule of module?.menuItems">
        <button class="slide-content" (click)="navigateTo(subModule)">
          <img
            [src]="
              '../assets/icons/main-page/' + (subModule?.icon || 'temp.svg')
            "
            alt="icon"
          />
          <span>{{ subModule.displayName }}</span>
        </button>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
