@import "./elements.scss";
.card {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 12px -1px $colorBoxShadow;
  border-radius: 8px !important;
}
.card-margin {
  margin-bottom: 12px;
}

.item {
  // width: 28%;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  // height: 60px;
  justify-content: space-between;

  .info {
    font-size: 18px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.edit {
      display: flex;
      justify-content: space-between;

      input {
        width: 90%;
        line-height: 22px;
      }

      .link {
        margin-left: 10px;
        color: $colorLink;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .error-input {
      color: red;
    }
  }

  .title {
    color: var(--black, #000);
    text-align: right;
    font-family: $fontOpenSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 6px 0 !important;
    width: 100%;
  }
}

.hide-border-input {
  border: none;
  background-color: inherit;

  &:focus {
    outline: none !important;
    border: none;
  }
}
