@import "./elements.scss";
// checkbox.scss

@mixin base-checkbox($tick-url: "/assets/icons/check.svg") {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  display: inline-block;

  border: 1px solid $colorBlack;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: $colorWhite;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    border-color: $colorDarkBluePrimary;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px rgba($colorDarkBlue, 0.25);
  }

  &:checked {
    background-color: $colorStatusLightBlue;
    border-color: $colorBlack;
    background-image: url(#{$tick-url});
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
  }

  &:disabled {
    background-color: $colorDisabledGrey;
    border-color: $colorDarkGray;
    cursor: not-allowed;
    opacity: 0.7;
  }

  &:checked:disabled {
    background-image: url("/assets/icons/check-disable.svg");
    background-color: $colorDisabledGrey;
    border-color: $colorDarkGray;
  }
}

.checkbox-sm {
  width: 16px;
  height: 16px;
  padding: 2px;
}
.checkbox-md {
  width: 24px;
  height: 24px;
  padding: 3px;
}

// Checkbox variants
.checkbox-primary {
  @include base-checkbox();
}
.checkbox-outline {
  @include base-checkbox();
}
.checkbox-secondary {
  @include base-checkbox();
}
