<div class="wrap-content-card">
    <div class="wrap-details">
        <div class="content-card">
            <div class="wrap-content">
                <div class="wrap-reserved">
                    @for (r of reservedComments; track r.id) {
                        <span class="reserved" [ngClass]="{'chosen': isChosen(r.id)}"
                            (click)="addOrRemoveComment(r.id)">
                            {{r.content}}
                        </span>
                    }
                </div>
                @if (newComment) {
                    <textarea class="content" placeholder="הוסף טקסט" [(ngModel)]="newComment.text"></textarea>
                }
            </div>
        </div>
    </div>
</div>
