<div class="action-dialog-container">
  <form class="container-xl p-3 position-relative" [formGroup]="sendSmsForm">
    <div class="d-flex flex-lg-row-reverse justify-content-between">
      <div>
        <img class="exit-icon" [src]="Icons.EXIT" (click)="onNoClick()" />
      </div>
      <div>
        <h5 class="title">{{ sendSmsFields.title }}</h5>
      </div>
    </div>
    <div class="top-inputs-wrapper">
      <div class="m-2 p-1 d-flex flex-column justify-content-end">
        <div class="d-flex flex-column gap-2">
          <app-input-phone
            [placeholder]="sendSmsFields.inputText"
            [formControlName]="'phoneNumber'"
            [isValid]="!(this.sendSmsForm.touched && this.sendSmsForm.invalid)"
            [errorMessage]="this.errorMessage"
          >
          </app-input-phone>
          <app-input-checkbox
            [placeholder]="sendSmsFields.checkBoxText"
            [formControlName]="'updateCitizenPhoneNumber'"
          ></app-input-checkbox>

          <app-textarea-comments
            [title]="'תוכן הודעה לשליחה'"
            [placeholder]="'תוכן הודעה לשליחה'"
            [formControlName]="'comments'"
            [maxlength]="1000"
            [rows]="5"
          ></app-textarea-comments>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <app-button
        [isDisabled]="sendSmsForm.invalid"
        (clickFunction)="onSendSmsAction()"
        [buttonText]="buttonEnum.Confirm"
      ></app-button>
    </div>
  </form>
</div>
