<div [class.disabled]="disabled" [ngClass]="sizeClass">
  <div class="title-container">
    <div class="inline-header">
      @if (isRequired) {
        <img class="exit-icon" [src]="Icons.ASTERISK_RED" />
      }
      <div class="title-placeholder">{{ title }}</div>
    </div>
    @if (isTooltip) {
      <img
        [src]="Icons.TOOL_TIP"
        class="tooltip-icon"
        [matTooltip]="getTooltipContent()"
        [matTooltipClass]="['custom-tooltip', 'users-tooltip']"
        matTooltipPosition="left"
        aria-label="Info"
        alt="Info"
      />
    }
  </div>

  <div
    [class]="className || 'input-fill'"
    [ngClass]="!isValid ? 'invalidInput' : ''"
  >
    <input
      [placeholder]="placeholder"
      type="text"
      [formControl]="control"
      [disabled]="disabled"
      class="hide-border-input input-text"
    />
    @if (icon) {
      <div class="icon">
        <img [src]="icon" alt="icon" />
      </div>
    }
  </div>
  @if (!isValid) {
    <span class="error">{{ errorMessage }}</span>
  }
</div>
