@import "../../../../styles/buttons.scss";
@import "../../../../styles/elements.scss";
@import "../infrastructures.component.scss";

.infrastructure-container {
  width: 930px;
  .inline-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 13px;

    .title {
      color: black;
      font-weight: 800;
      font-family: $fontOpenSans;
      direction: rtl;
      font-size: 24px;
      line-height: 25px;
      margin: 0;
      font-style: normal;
      margin-bottom: 8px;
    }

    .exit-icon {
      cursor: pointer;
      margin-bottom: 15px;
    }
  }

  .inputError {
    input,
    select,
    ::ng-deep mat-form-field .mat-form-field-flex {
      border-color: crimson !important;
      border: 1px solid;
      border-radius: 4px;

      border: 1px solid red;
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
    }
  }

  .form-section-owner {
    fieldset {
      border: 1px solid #b9c6d4;
      border-radius: 4px;
      padding: 20px;
      gap: 15px;
    }
  }

  .form-section-pet {
    fieldset {
      background: #f7f9fc;
      border: 1px solid #b9c6d4;
      border-radius: 4px;
      padding: 20px;
      gap: 15px;
    }
  }

  .form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .form-row {
      display: flex;
      flex-direction: row;
      gap: 15px;
      width: 100%;
    }

    .form-field {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 210px;

      .title-placeholder {
        display: none;

        .required-icon {
          width: 8px;
          height: 8px;
          margin-right: 4px;
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    direction: rtl;
    gap: 20px;

    .form-field:has(app-radio-button) .title-placeholder {
      display: block !important;
      font-size: 14px;
      font-weight: 700;
      color: #000;
      margin-bottom: 5px;
      text-align: right;
      direction: rtl;
    }

    //  check this
    .form-field:has(app-input-text) .title-placeholder {
      display: block !important;
      font-size: 14px;
      font-weight: 700;
      color: #000;
      margin-bottom: 5px;
      text-align: right;
      direction: rtl;
    }
    .form-field:has(app-select) .title-placeholder {
      display: block !important;
      font-size: 14px;
      font-weight: 700;
      color: #000;
      margin-bottom: 5px;
      text-align: right;
      direction: rtl;
    }
    .form-field:has(app-input-date) .title-placeholder {
      display: block !important;
      font-size: 14px;
      font-weight: 700;
      color: #000;
      margin-bottom: 5px;
      text-align: right;
      direction: rtl;
    }
    .form-field:has(app-input-number) .title-placeholder {
      display: block !important;
      font-size: 14px;
      font-weight: 700;
      color: #000;
      margin-bottom: 5px;
      text-align: right;
      direction: rtl;
    }
    .radio-container {
      display: flex;
      min-width: 30px;
      margin-left: 5px;

      .form-radio {
        height: 17px;
        width: auto;
      }

      p {
        margin: 0;
        margin-right: 5px;
      }
    }

    .checkbox-container {
      display: flex;
      min-width: 30px;
      margin-left: 5px;

      input {
        height: 17px;
        width: 17px;
      }
    }

    .fromTo-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    ::ng-deep mat-form-field {
      background-color: white;
      .mat-form-field-underline {
        display: none;
      }

      .mat-select-value {
        text-align: right;
      }

      .mat-select-arrow-wrapper {
        transform: none;
        margin-left: 5px;
      }

      .mat-form-field-infix {
        margin-top: -3px;
      }
    }

    ::ng-deep mat-form-field .mat-form-field-wrapper {
      padding: 0;

      .mat-form-field-flex {
        height: 40px;
        padding: 0;
        background-color: white;
        border-radius: 4px;
        border: 1px solid #e3e7eb;
      }
    }
  }

  ::ng-deep .primary-btn {
    width: calc(100% + 10px) !important;
  }

  ::ng-deep .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
  }

  // .form-field {
  //   position: relative;
  //   margin-top: 30px;
  //   margin-left: 15px;
  //   display: flex;
  //   align-items: center;
  //   // align-items: flex-start; /* Align fields to the start of the column */
  // }

  .form-title {
    color: #000000;
    font-size: 18px;
    text-align: right;
    font-family: $fontOpenSans;
    font-weight: 800;
  }
  .form-section-title {
    color: #000000;
    font-size: 16px;
    text-align: right;
    font-family: $fontOpenSans;
    font-weight: 800;
    margin-bottom: 15px;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .required-icon {
    margin-bottom: 2px;
  }
}
